.s2a_content {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;

	-webkit-transition: all 0.5s ease;
	 -khtml-transition: all 0.5s ease;
	   -moz-transition: all 0.5s ease;
		-ms-transition: all 0.5s ease;
		 -o-transition: all 0.5s ease;
			transition: all 0.5s ease;

	-webkit-touch-callout: none;

	-webkit-user-select: none;
	 -khtml-user-select: none;
	   -moz-user-select: none;
		-ms-user-select: none;
		 -o-user-select: none;
			user-select: none;
}
.s2a_content.s2a_top { top: 100px !important; }
.s2a_content.s2a_bottom { top: -100px; }
.s2a_scroll {
	position: absolute;
	top: 0px;
	right: -3px;
	width: 4px;
	background: #eee;
	margin: 0px;
	border-left: 1px solid #ddd;
	z-index: 2;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

	-webkit-transition: right 0.15s ease;
	 -khtml-transition: right 0.15s ease;
	   -moz-transition: right 0.15s ease;
		-ms-transition: right 0.15s ease;
		 -o-transition: right 0.15s ease;
			transition: right 0.15s ease;
}
.s2a_scroll:hover,
.s2a_box.s2a_scrollActive .s2a_scroll{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.s2a_box:hover .s2a_scroll,
.s2a_box.s2a_scrollActive .s2a_scroll {
	right: 0px;
}
.s2a_handler {
	position: absolute;
	top: 0;
	left: 0;
	width: 2px;
	background: #999;
	border: 1px solid #999;
	cursor: pointer;

	-webkit-border-radius: 2px;
	 -khtml-border-radius: 2px;
	   -moz-border-radius: 2px;
		-ms-border-radius: 2px;
		 -o-border-radius: 2px;
			border-radius: 2px;

	-webkit-transition: height 0.5s ease;
	 -khtml-transition: height 0.5s ease;
	   -moz-transition: height 0.5s ease;
		-ms-transition: height 0.5s ease;
		 -o-transition: height 0.5s ease;
			transition: height 0.5s ease;
}

.s2a_view {
	position: absolute;
	left: 0;
	height: 100px;
	overflow: hidden;
	background: red;

	-webkit-transition: all 0.5s ease;
	 -khtml-transition: all 0.5s ease;
	   -moz-transition: all 0.5s ease;
		-ms-transition: all 0.5s ease;
		 -o-transition: all 0.5s ease;
			transition: all 0.5s ease;
}

.s2a_viewTop { top: -100px; }
.s2a_viewTop.s2a_top { top: 0; }

.s2a_viewBottom { bottom: -100px; }
.s2a_viewBottom.s2a_bottom { bottom: 0; }