.pullToShow_content {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;

	-webkit-transition: all 0.5s ease;
	 -khtml-transition: all 0.5s ease;
	   -moz-transition: all 0.5s ease;
		-ms-transition: all 0.5s ease;
		 -o-transition: all 0.5s ease;
			transition: all 0.5s ease;

	-webkit-touch-callout: none;

	-webkit-user-select: none;
	 -khtml-user-select: none;
	   -moz-user-select: none;
		-ms-user-select: none;
		 -o-user-select: none;
			user-select: none;
}
.pullToShow_content.scroll_top {
	background: lightgreen;
	top: 100px !important;
}
.pullToShow_content.scroll_bottom {
	background: lightblue;
	top: -100px;
}
.pullToShow_scroll {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 4px;
	background: #eee;
	margin: 0px;
	border-left: 1px solid #ddd;
	z-index: 2;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

	-webkit-transition: right 0.15s ease;
	 -khtml-transition: right 0.15s ease;
	   -moz-transition: right 0.15s ease;
		-ms-transition: right 0.15s ease;
		 -o-transition: right 0.15s ease;
			transition: right 0.15s ease;
}
.pullToShow_scroll.hover {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.pullToShow_scroll.hidden {
	right: -3px;
}
.pullToShow_handler {
	position: absolute;
	top: 0;
	left: 0;
	width: 2px;
	background: #999;
	border: 1px solid #999;
	cursor: pointer;

	-webkit-border-radius: 2px;
	 -khtml-border-radius: 2px;
	   -moz-border-radius: 2px;
		-ms-border-radius: 2px;
		 -o-border-radius: 2px;
			border-radius: 2px;

	-webkit-transition: height 0.5s ease;
	 -khtml-transition: height 0.5s ease;
	   -moz-transition: height 0.5s ease;
		-ms-transition: height 0.5s ease;
		 -o-transition: height 0.5s ease;
			transition: height 0.5s ease;
}

.pullToShow_viewTop {
	position: absolute;
	height: 100px;
	top: -100px;
	left: 0;
	background: red;

	-webkit-transition: all 0.5s ease;
	 -khtml-transition: all 0.5s ease;
	   -moz-transition: all 0.5s ease;
		-ms-transition: all 0.5s ease;
		 -o-transition: all 0.5s ease;
			transition: all 0.5s ease;
}
.pullToShow_viewTop.scroll_top {
	top: 0;
}

.pullToShow_viewBottom {
	position: absolute;
	height: 100px;
	bottom: -100px;
	left: 0;
	background: red;

	-webkit-transition: all 0.5s ease;
	 -khtml-transition: all 0.5s ease;
	   -moz-transition: all 0.5s ease;
		-ms-transition: all 0.5s ease;
		 -o-transition: all 0.5s ease;
			transition: all 0.5s ease;
}
.pullToShow_viewBottom.scroll_bottom {
	bottom: 0;
}